/* style.css */
html {
    scroll-behavior: smooth;
}

body {
    background: white;

}

.mt {
    margin-top: 5 !important;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.jumbotron {
    margin-bottom: 0;
    margin-bottom: 10px;

}


/* This is for the landing page container  */
.main-content {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 100vh 50vh 50vh;

}

.arrow {
    clip-path: polygon(14% 63%, 41% 63%, 42% 18%, 64% 19%, 64% 63%, 90% 64%, 52% 98%);
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 50px;
}

.arrow:hover {
    background-color: #232321;
}


/* first view on load  */
#section1 {
    align-self: center;
    margin-left: 15px;
    margin-bottom: 90px;
    grid-row: 1/2;
    margin-right: 5px;
}

/* lower portion of the landing page  */


.showCase img {
    grid-column: 2/4;
    align-self: center;
    height: 850px;
    width: 950px;
    margin-left: 10px;
    margin-right: 0;

}


.nav-link,
.navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.nav-link:hover,
.navbar-brand:hover {
    color: rgb(112, 112, 112);
    text-decoration: underline;
}


.headerText {
    font-size: 3rem;
    font-weight: bolder;
}

.subheader {
    font-size: 1.5rem;
}

.btn {
    margin: 5px;
}

.card {
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    margin: 30px;
}

.card:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    padding-right: 15px;
}

.text-muted i {
    margin: 0 5px;
}

.jumbotron {
    background-color: white;
}



.card-header {
    padding-left: 5px;
    width: auto;
    text-align: center;
}

.popUpForm,
.popUpFormLogin,
.popUpFormReg {
    color: white;
    display: none;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 40%;

    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;


}