/* style.css */

body {
    background: #232321;
}

.mt {
    margin-top: 5 !important;
}

#cover {
    background: #222 url('https://unsplash.it/1920/1080/?nature') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    border-radius: 10px;
}

.jumbotron {
    margin-bottom: 0;
    margin-bottom: 10px;
}

.pics {
    border-radius: 10px;
    background-color: cornsilk;
    padding: 5px;
}

.btn {
    margin: 5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    margin-top: 10px;


}

.text-muted i {
    margin: 0 5px;
}

.main {
    padding: 0;
}

.card-header {
    padding-left: 0;
}