/* style.css */

html {
    scroll-behavior: smooth;
}

.mt {
    margin-top: 5 !important;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.jumbotron {
    margin-bottom: 0;
    margin-bottom: 10px;
}

/* This is for the landing page container  */
.main-content {
    background-color: white;
    display: grid;
    grid-template-columns: 30vw 20vw 50vw;
    grid-template-rows: 95vh 50vh 50vh 5vh;
    overflow: hidden;

}

.arrow {
    clip-path: polygon(14% 63%, 41% 63%, 42% 18%, 64% 19%, 64% 63%, 90% 64%, 52% 98%);
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 50px;
}

.arrow:hover {
    background-color: #232321;
}


/* first view on load  */
#section1 {
    align-self: center;
    margin-left: 25px;
    margin-bottom: 90px;
    grid-row: 1/2;
    margin-right: 5px;
}

#section2 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: rgb(61, 61, 61);

}

#section3 {
    grid-column: 3/6;
    grid-row: 3/4;
    background-color: rgb(61, 61, 61);

}

#section4 {
    grid-column: 3/6;
    grid-row: 2/3;

}

#section5 {
    grid-column: 1/3;
    grid-row: 3/4;

}

.imgs {
    width: 90%;
    height: 100%;
    padding-left: 5px;
}

.section2Imgs {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.showCase {
    grid-column: 2/6;
    width: 100%;

}

.boxText {
    font-size: 3em;
    color: white;
    text-align: center;
    padding-top: 20%;
}

.nav-link,
.navbar-brand {
    color: black;
    font-weight: bolder;
    font-size: x-large;
}

.nav-link:hover,
.navbar-brand:hover {
    color: rgb(112, 112, 112);
    text-decoration: underline;
}

.headerText {
    font-size: 3rem;
    font-weight: bolder;
}

.subheader {
    font-size: 1.5rem;
}

.btn {
    margin: 5px;
}

.card {
    box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    padding-left: 15px;
    padding-right: 15px;
}

.text-muted i {
    margin: 0 5px;
}

.jumbotron {
    background-color: white;
}

.card-header {
    padding-left: 5px;
    width: auto;
    text-align: center;
}

.popUpForm,
.popUpFormLogin,
.popUpFormReg {
    color: white;
    display: none;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 40%;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}